*.sql
SQLQuery*.sql

# Frontend
frontend/
!frontend/nginx.conf
!frontend/package-lock.json

# Backend build outputs
backend/bin/
backend/obj/

# Dependencies
node_modules/

# IDE
.vscode/
.vs/
*.swp
*.swo
